.review-container{
    margin: 50px auto;
}
.proceed-checkout{
    background: #FF9900;
    border-radius: 4px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
    height: 56px;
}